<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <context:annotation-config/>

        <context:component-scan base-package="com.goodtime.base"/>

        <bean id="logAspect" class="com.goodtime.base.aspect.LogAspect"/>
        <aop:config>
            <aop:aspect id="received" ref="logAspect">
                <aop:pointcut id="receivedService"
                              expression="execution(* com.base.goodtime.*.*(..))"/>
                <aop:around pointcut-ref="receivedService" method="around"/>
            </aop:aspect>
        </aop:config>-->


</beans>
