<?xml version= "1.0" encoding ="UTF-8" ?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd" default-lazy-init ="true">

    <import resource="spring-shiro.xml"/>

    <context:annotation-config/>

    <!-- service -->
    <context:component-scan base-package="com.goodtime.user">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--AOP-->
    <bean id="logAspect" class="com.goodtime.base.aspect.LogAspect"/>

    <aop:config>
        <aop:aspect id="received" ref="logAspect">
            <aop:pointcut id="receivedService"
                          expression="execution(* com.goodtime.user.controller..*.*(..))"/>
            <aop:around pointcut-ref="receivedService" method="around"/>
        </aop:aspect>
    </aop:config>

    <!-- dubbo consumer -->
    <dubbo:application name="gd-user"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <dubbo:reference id="userInfoService" interface="com.github.api.service.UserInfoService"/>
    <dubbo:reference id="userTaskService" interface="com.github.api.service.UserTaskService"/>
    <dubbo:reference id="userDiaryService" interface="com.github.api.service.UserDiaryService"/>
    <dubbo:reference id="diaryGroupService" interface="com.github.api.service.DiaryGroupService"/>
    <dubbo:reference id="systemMessageService" interface="com.github.api.service.SystemMessageService"/>
    <dubbo:reference id="activityService" interface="com.github.api.service.ActivityService"/>

</beans>